body{
    font-family: "Manrope", sans-serif;
}

.bg-image{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 